HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# exclude files with the extension .asc in non-root directories
!*/*.asc
# ignore files with the extension .asc in the root directory
*.asc
# exclude files with the extension .b64 in non-root directories
!*/*.b64
# ignore files with the extension .b64 in the root directory
*.b64